*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;  
}
/* article{
    margin-bottom: 50px;
} */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 1px 50px;
    /* background-color: #f0f0f0; */
}

.header-logo-oceanresearch img{
    width: 100px;
    height: auto;
    /* height: 100px; */
}

.header-logo-geophysics img{
    width: 100px;
    height: auto;
    /* height: 100px; */
}

.header-line hr{
    width: 95%;
    margin: auto;
}

main{
    margin: 0px 70px 0px 70px;
}

.main-title{
    margin-top: 50px;
    font-size: 29px;
    font-weight: 700;
}

.main-content{
    display: flex;
    margin: 10px;
    font-size: 16px;
}

.main-content-left{
    display: inline-block;
    line-height:55px;
    margin: 100px 200px 0 0;
}

.main-content-right{
    display: inline-block;
    line-height:22px;
    margin: 100px 0 0 0;
}
.main-content-table{
    margin-top: 20px;
}
.main-content-table table {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
}

/* استایل برای کل thead */
.main-content-table table thead {
    position: sticky;
    top: 0;
    background-color: white; /* برای جلوگیری از transparent شدن */
}

/* استایل برای هدرهای اصلی */
.table-header {
    position: relative;
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid black; */
    border-right: 1px solid black;
    background-color: #D5DEF0 !important;
    padding: 2px 0px;
}

/* استایل برای ردیف‌های هدر */
.sub-header th,
.sub-header2 th,
.sub-header3 th {
    font-size: 14px;
    color: black;
    font-weight: 100;
    background-color: inherit;
}

.sub-header-cell {
    background-color: #E2E8F4 !important;
    padding: 1px 0px;
}

.sub-header-cell-light {
    background-color: #EFF1F9 !important;
    padding: 1px 0px;
}

.bottom-header-cell {
    border-bottom: 2px solid black;
    background-color: #E2E8F4 !important;
    padding: 1px 0px;
}
.table-header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* bottom: 0; */
    height: 2px;
    background-color: black;
}
.table-header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
}

/* اضافه کردن box-shadow برای حفظ border در حالت sticky */
.main-content-table table thead::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
}

.main-content-table table tbody{
    font-size: 14px;
    color: black;
}

.main-content-table table tbody tr td{
    padding: 3px 0px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd) {
    background-color: #EBEBEB;
}

.main-content-table-footer{
    margin-top: 20px;
}

.main-content-table-footer p{
    font-size: 13px;
}

.dot-green{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    /* margin: 0 5px; */
    vertical-align: middle;
}

.dot-yellow{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin: 0 5px; */
    vertical-align: middle;
    background-color: rgb(255, 255, 0);
}

.dot-red{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin: 0 5px; */
    vertical-align: middle;
    background-color: rgb(255, 0, 0);
}


.satellite-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.satellite-pic img {
    width: 100%;
    height: auto;
    margin: 0 10px;
}